.prodact_wrap
	display: flex
	justify-content: space-between
	color: #777
	border-top: 1px solid #eee
	padding-top: 1.5rem
	margin-bottom: 3rem

.product_images_wrap
	width: calc( 38% - 25px )
	box-sizing: border-box
	//border: 1px solid #eee

.product_img_block
	position: relative
	margin-bottom: 1.5rem
	&::before
		content: ""
		display: block
		padding-top: 130%

.product_img_link
	display: flex
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
.product_img
	width: auto
	max-width: 100%
	height: auto
	max-height: 100%
	margin: auto

.product_prev_wrap
	display: flex
	justify-content: space-around
	position: relative
	margin-bottom: 1rem

.product_prev_gallery
	width: calc( 90% + 1px)
	margin: 0 auto
.product_prev_list
	//display: flex
	//justify-content: space-around
	width: 100%


.product_prev
	position: relative
	border: 1px solid darken(#eee, 3%)
	border-radius: 3px
	padding: 2px
	transition: border-color 30ms ease-out
	&:hover,
	&:focus
		border-color: darken(#eee, 10%)
	&::before
		content: ""
		display: block
		padding-top: 100%
.product_prev.active
	border-color: $dark


.product_prev_link
	display: block
	overflow: hidden
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	transition: border-color 30ms ease-out
.product_prev_img
	display: block
	object-fit: cover
	object-position: center
	max-width: 100%
	height: auto
	max-height: 100%
	margin: auto

.icon-cheveron-left,
.icon-cheveron-right
	position: absolute
	top: calc( 50% - 7px )
	width: 15px
	height: 15px
	border-top: 2px solid #999
	border-right: 2px solid #999
	margin-right: 15px
	opacity: .3
	transition: opacity 30ms ease-out
	&:hover
		opacity: 1

.icon-cheveron-left
	transform: rotate(-135deg)
	left: 0
.icon-cheveron-right
	transform: rotate(45deg)
	right: -15px



.product_info_wrap
	width: calc( 40% - 25px )
	display: flex
	flex-direction: column

.product_info_text
	margin-bottom: 1.5rem
	line-height: 1.55
	p
		margin-bottom: 0
.product_property
	margin-bottom: 1.5rem
.product_property_tbl
	width: 100%
	border: 1px solid #ddd
	border-radius: 3px
	font-size: 1rem
	tr:nth-child(odd)
		background-color: #f9f9f9
	td
		padding: 8px
		line-height: 1.42857143
		vertical-align: top
		border: 1px solid #ddd


.product_offers_wrap
	border-bottom: 1px solid #eee
	padding-left: 1rem
.product_offers_info
	font-size: 1rem
	color: #555
	margin-bottom: 1.5rem
	span
		margin-right: 1rem
		b
			margin-right: .5rem

.product_offers_list
	list-style: none
	padding: 0
	margin-bottom: 1.5rem
.product_offer
	display: inline-block
	overflow: hidden
	border: 2px solid #fff
	border-radius: 4px
	cursor: pointer
	display: inline-block
	width: 1.75rem
	height: 1.75rem
	margin-right: 1rem
.product_offer.active
	box-shadow: 0 0 5px #000

.product_offer_color
	display: inline-block
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-position: 50%
	background-size: cover
	background-size: inherit

.product_price
	padding: 1.5rem 1rem 2rem 1rem

.product_price_real
	color: #333
	font-size: 1.4rem
	line-height: 1.4rem
	margin-right: 1rem
.product_price_old
	color: #777
	font-size: 1.1rem
	line-height: 1.1rem
	text-decoration: line-through





.product_contact_wrap
	width: calc( 22% - 25px )
	border-left: 1px solid #eee
	padding-left: 30px

.product_contact_item
	position: relative
	padding-left: 60px
	margin-top: 60px
.product_contact_icon
	position: absolute
	top: 0
	left: 0
	width: 40px
	height: 49px
	svg
		width: 100%
.product_contact_title
	text-transform: uppercase
	letter-spacing: .15rem
	margin: 0 0 10px 0
	padding: 9px 0 12px 0
	font-size: 1rem
	line-height: 1rem
	font-weight: 400
	color: #777
	border-bottom: 1px solid #eee

.product_contact_text
	text-transform: uppercase
	letter-spacing: .15rem
	margin: 0 0 10px 0
	padding: 0
	font-size: 1rem
	font-weight: 400
	color: #777
	a
		color: #777
		font-size: .9rem
		letter-spacing: .1rem
		transition: color .27s cubic-bezier(.3,.1,.58,1)
		&:hover
			color: #555


.product_content
.product_tab_ul
	display: flex
	list-style: none
	border-bottom: 1px solid #ddd
	font-size: .85rem
	line-height: .9rem
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 2px
	padding: 0
	margin: 0

.product_tab_li
	display: inline-block
	padding: .92rem 1.5rem
	box-sizing: border-box
	border-right: 5px
	margin-left: -1px
	margin-bottom: -1px
	transition: color .27s cubic-bezier(.3,.1,.58,1), border-color .27s cubic-bezier(.3,.1,.58,1), background-color .27s cubic-bezier(.3,.1,.58,1)
	cursor: pointer
	&:first-child
		margin-left: 0
	&:hover,
	&:focus
		border-color: #eee #eee #ddd #eee
		background-color: #f5f5f5
		color: #555

.product_tab_li.active
	border-top: 1px solid #e5e5e5
	border-right: 1px solid #e5e5e5
	border-left: 1px solid #e5e5e5
	border-bottom: 1px solid #fff
	cursor: default
	&:hover,
	&:focus
		border-color: #e5e5e5 #e5e5e5 #ffff #e5e5e5
		background-color: #fff
		color: inherit

.product_tab_wrap
	position: relative

.product_tab
	position: absolute
	top: 0
	right: 0
	left: 0

	//display: none
	opacity: 0
	padding: 2.5rem 1rem
	transition: opacity .27s cubic-bezier(.3,.1,.58,1),

.product_tab.behold
	display: block
	opacity: 1




.product_documents
	display: flex
	flex-wrap: wrap


.product_doc_item
	width: 50%
	padding: 1rem
	display: flex
	gap: 10px
.product_doc_icon
	display: block
	flex-grow: 0
	width: 46px
	height: 35px
	overflow: hidden
	filter: grayscale(.9)
	background-image: url(/images/src/icons/docs_types.png)
	background-repeat: no-repeat

	&[href$=".pdf"]
		background-position: left 0 top 0
	&[href$=".doc"],
	&[href$=".docx"]
		background-position: left 0 top -55px
	&[href$=".jpg"],
	&[href$=".jpeg"]
		background-position: left 0 top -110px
	&[href$=".png"]
		background-position: left 0 top -165px
	&[href$=".ptt"]
		background-position: left 0 top -220px
	&[href$=".txt"],
	&[href$=".rtf"]
		background-position: left 0 top -275px
	&[href$=".tif"]
		background-position: left 0 top -330px
	&[href$=".xls"],
	&[href$=".xlsx"]
		background-position: left 0 top -385px

.product_doc_info
	width: calc(100% - 56px)
	line-height: 1.4
.product_doc_link
	color: #555
	text-decoration: none
	transition: color 70ms ease-out
	&:hover,
	&:focus
		color: #555
		//color: $accent
.product_doc_size
	display: inline-block
	font-style: italic
	font-size: .9em
	color: #999
	margin-left: 5px

















@include media-breakpoint-down(xxl)
	.product_contact_wrap
		padding-left: 20px
	.product_contact_item
		padding-left: 55px
	.product_contact_title
		margin-bottom: .5rem
	.product_contact_text
		font-size: .95rem
		letter-spacing: .1rem

@include media-breakpoint-down(xl)
	.product_images_wrap
		width: calc( 50% - 20px )
	.product_info_wrap
		width: calc( 50% - 20px )
	.product_contact_wrap
		display: none
	.product_property_tbl
	.product_property_tbl td
		font-size: .9rem
		line-height: 1.1

@include media-breakpoint-down(lg)
	.product_offers_info span
		display: inline-block
		width: 100%

	.product_documents
	.product_doc_item
		width: 100%
@include media-breakpoint-down(md)
	.prodact_wrap
		flex-wrap: wrap
	.product_images_wrap
		width: 80%
		margin: 0 auto 2rem auto

	.product_info_wrap
		width: 100%
		border-top: 1px solid #eee

	.product_info_text
		order: 3

	.product_property
		order: 4

	.product_offers_wrap
		order: 2
		margin-bottom: 1.5rem

	.product_price
		order: 1
		padding: 2rem 1rem 1.5rem 1rem

	.product_property_tbl td
		font-size: 1rem
		line-height: 1.4
	.product_offers_info span
		display: inline
		width: auto
@include media-breakpoint-down(sm)
	.product_images_wrap
		width: 100%
	.product_offers_info span
		font-size: .95rem

	.product_tab_ul
		flex-wrap: wrap
		border-bottom: none
	.product_tab_li
		border: none
		margin-left: 0
		margin-bottom: .5rem

	.product_tab_li.active
		border: 1px solid #e5e5e5
		background-color: #f5f5f5
		&:hover,
		&:focus
			border: 1px solid #e5e5e5
			background-color: #f5f5f5
	.product_tab_wrap
		border-bottom: 1px solid #eee